
/*Everything!!!*/
h1 {
    display: flex;
    color: #352b43;
    justify-content: center;

}

body{
    background-color:#ece8e1;
}

main{
    font-family: 'Trebuchet MS';
    background-color: #ece8e1;
    color: #352b43
}


span{
    font-family:'Lucida Sans';
    color:#e97a3d;
}

main>ul>li{
    padding-bottom: 10px;
    padding-left: 36px;
    text-indent: -35px;
}


footer{
    padding-top:50px;
}


/*flexgrids*/

.container{
    display:flex;
    justify-content:space-evenly;
    align-items:baseline;
    flex-wrap: wrap;
    gap: 20px;

}

.bio{
    border: 10px solid #e97a3d;
    width: 40%;
    padding: 20px;
}

.resume{
   flex: 1;
}

.quote{ 
    flex-direction:column;
}