
/*Everything!!!*/
@font-face{
    font-family: Playwrite;
    src: url("Playwrite.ttf")
}

h1 {
    font-family: Playwrite;
    display: flex;
    color: #352b43;
    justify-content: center;

}

h2{
    color:#e97a3d;
}

.h_index{
    text-align: center;
}

body{
    background-color:#ece8e1;
}

main{
    font-family: 'Trebuchet MS';
    background-color: #ece8e1;
    color: #352b43
}


span{
    font-family:'Lucida Sans';
    color:#352b43;
}

main>ul>li{
    padding-bottom: 10px;
    padding-left: 36px;
    text-indent: -35px;
}


footer{
    padding-top:50px;
}

/*footer background image*/

footer{
    background-image:url(dark.jpg);
    background-repeat: no-repeat;
    color:white;
    padding-left: 30px;
    padding-bottom:20px;
}


/*flexgrids*/

.container{
    display:flex;
    justify-content:space-evenly;
    align-items:baseline;
    flex-wrap: wrap;
    gap: 20px;

}

.bio{
    border: 10px solid #e97a3d;
    width: 40%;
    padding: 20px;
}

.resume{
   flex: 1;
   padding-left:30px;
}

.quote{ 
    flex-direction:column;
}


@media(max-width:800px){
    .container{
        display:flex;
        flex-direction:column;
    }
    .bio{
        flex: 1;
        width:auto;
    }
    .resume{
        flex:1;
        align-self:center;
    }
}


/*Print Query*/
@media print{
    *{
        background: transparent !important;
        color: black !important;
        box-shadow:none !important;
        text-shadow: none !important;
        border: none !important;
}
    nav{
        display: none !important;
    }

    @page{
        margin: 1in;
    }
}